<head>
  <meta charset="utf-8">
  <title>JD - Assessoria Florestal e Ambiental : {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link href="/css/application.css" media="all" rel="stylesheet" type="text/css">
  <script src="/js/application.js" type="text/javascript"></script>
  <meta name="author" content="Invent.to www.invent.to">
  <meta name="keywords" content="JD Assessoria Florestal e Ambiental, Projetos florestais, Manejo com rendimento sustentado para florestas nativas e ou em cultivos florestais, Orientação e assistência técnica para implantação de um cultivo florestal, Identificação cronológica e produtividade dos talhões, Inventário florestal, com levantamento qualitativo e quantitativo dos recursos florestais, Projetos ambientais, Identificação de aspectos e impactos ambientais, Análise e avaliação de impactos, danos e passivos ambientais, Análise e gerenciamento de risco ambiental, Gerenciamento de passivos ambientais e Plano de Recuperação de Áreas Degradadas,
  Avaliação de risco ambiental em empreendimentos, Licenciamento ambiental, Geoprocessamento, Topografia e Georreferenciamento de imóveis rurais, Mapeamentos e projetos topográficos, Outorga e dispensa de outorga, Recursos de multas ambientais, Produção de mudas florestais">
  <meta name="document-classification" content="Internet Services">
  <meta name="document-rights" content="Public">
  <meta name="robots" content="INDEX, FOLLOW">
</head>

